# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# React Native Packager & Metro
.expo/
.expo-shared/
.expo-cache/
metro-cache/
logs/
*.jsbundle
*.bundle

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
*.keystore
!debug.keystore
*.iml
.cxx/
.gradle/
*.hprof

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcodeproj/
ios/*.xcworkspace/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
*.ipa

# macOS
.DS_Store

# VS Code
.vscode/
*.code-workspace

# Environment files
.env
.env.*

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions 

# Fastlane (optional)
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Test coverage
coverage/

# Misc
*.swp
*.swo
*.bak
*.tmp
*.orig
